
 body *{ 
   font-family: 'OpenSansRegular'; 
   color:#3a4352;
  }
  p{
    color:#3a4352;
  }

  /*css file index*/
 .circle img{
   margin-top: 20px;
 }
  .circle a:hover img
  {
    transform: scale(1.1);
  }
.item-slider-2{
  margin-bottom: 70px;
}
.owl-dots
{
  position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
}
  .navbar-brand{
    margin-right: 50px;
  }
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#menu1 a {
  float: left;
  text-decoration: none;
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: 'OpenSansBold';
  text-transform: uppercase;
  color: #415f77;
}
#numberphone:hover{
  text-decoration: none;
}
#menu1 a:hover {
  background: #fff;
  color: #2794eb;
}

#menu1 li.active a {
  color: #2794eb;
}
.phone {
  position: relative;
  background: #fc5050;
  width: 195px;
  height:45px;
  border-radius: 5px;
}
.phone::before {
  content: url(../images/icon/ic_phone.png);
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 7px;
  transform: translate(-0%,-50%);
}
#numberphone {
  color: #fff;
  font-size: 21px;
  font-family: 'OpenSansBold';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-15%,-50%);
}
.price{
  background:#2794eb;
}
.prices {
  padding: 30px 0 10px 0;
}
.textprice p {
  color: #fff;
  font-size: 20px;
  line-height: 45px;
  text-transform: uppercase;
  font-family: 'OpenSansBold';
}
.yourname{
  position: relative;
  width: 100%;
}
.yourphone{
  position: relative;
  width: 100%;
}
.formcontrol{
  display: block;
  width:100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
::-webkit-input-placeholder {
  color: #fff;
}
.btncall p {
  background: #fff;
  border-radius: 5px;
  text-align: center;
  color: #2794eb;
  padding: 8px;
  font-size: 20px;
  font-family: 'OpenSansBold';
}

.btncall p:hover{
  color:#fff;
  background: #0c74c7;
  font-family: 'OpenSansBold';
}
.navbar-brand {
  margin-right: 75px;
}
.pro{
  background: #fafafa;
  padding: 30px 0;
}
.ic_img img{
  margin-bottom: 20px;
}
.textpro{
  color: #3a4352;
  font-size: 18px;
  font-family: 'OpenSansBold';
}
.textpro1{
  color: #3a4352;
  display: inline;
  font-size: 14px;
}
.content{
  padding: 30px px;
  margin-top:50px;
  text-align: center;
  position: relative;
}
.textcontent{
  color: #328fff;
  font-size: 25px;
  font-family: 'OpenSansBold';
}
.textcontent:hover{
color:#fdb813;
}
.textcontent1{
  font-size: 18px;
  color: #666666;
}
a:hover{
  color:#fdb813;
}
.textdetail{
  text-align: center;
  background:#fc5050;
  color: #fff;
  height: 55px;
  width: 225px;
  line-height: 55px;
  border-radius: 5px;
  font-size: 21px;
  text-transform: uppercase;
}
.textdetail:hover{
  background: #f85f5f;
}
.img a:hover  img{
  transform: scale(1.1);
  opacity: 0.7;
}
.contentshirt{
  margin: 25px 0;
}
.textdetail:hover .img{
  transition: all .5s ease;
  transform: scale(1.1);
  opacity: 0.3;
}
.img{
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
  margin: 0 0 20px 0;
}
.img img{
  transition: all .5s ease;
  border-style: none;
  width: 100%;
}
.seedetail{
  position: absolute;
  display: none;
  left:50%;
  top:80%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.img:hover .seedetail{
  position: absolute;
  display: inline;
  left:50%;
  top:80%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition:all .5s ease;
}

.wash{
  text-transform: capitalize;
  font-size: 20px;
  color: #3a4352;
}
.seeall{
  text-align: center;
  border: 3px solid #2794eb;
  width: 255px;
  margin: 0 auto;
  color: #2794eb;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}
a:hover{
  text-decoration: none;
} 
.see{
 margin: 0 0 30px 0;
 text-align: center;
}
.seeall:hover{
  background: #2794eb;
  border: 0px;
  border: 3px solid #2794eb;
  color: #fff;
  border-radius: 5px;
}
.about{
  margin: 50px 0 30px 0;
  position: relative;
}
.textabout{
 margin: auto;
 top:50%;
 left:50%;
 position: absolute;
 transform: translate(-50%,-50%);
}
.text1{
  font-size: 25px;
  text-align: center;
  font-family: 'OpenSansBold';
  color: #fff;
}
.text2{
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.textcus1{
  font-size: 30px;
  text-align: center;
  font-family: 'OpenSansBold';
  color: #fff;
}
.textcus2{
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.seeabout {
  text-align: center;
  color: #fff;
  height: 55px;
  background: #2794eb;
  width: 225px;
  margin: auto;
  line-height: 55px;
  border-radius: 5px;
  font-size: 21px;
  text-transform: uppercase;
}
.seeabout:hover{
  background: #fc5050;
  color: #fff;
  border-radius: 5px;
}

.feedback{
  padding: 30px 5px;
  text-align: center;
  position: relative;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background:#328fff;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1.5;
}
.owl-nav{
  display:none;
}
.circle img{
  padding:5px 110px;
}
.textfeedback{
  color: #000;
  font-size: 25px;
  font-family: 'OpenSansBold';
}
.textfeedback1{
  font-size: 18px;
  color: #666666
}
.namecus{
  font-size: 25px;
  font-family: 'OpenSansBold';
}
.textfeedback2{
  font-size: 14px;
}
.ic_circle{
  bottom: -50px;
}
.carousel-indicators .active {
  background-color: #2794eb;
}
.carousel-indicators li
{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dbdbdb;
}
.slidefeedback{
  margin: 50px 0;
}
.customer{
  background-image: url(../images/icon/background_cus.png);
  height: 266px;
  position: relative;
}
.textcustomer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.logocus{
  width: 220px;
  position: relative;
  height: 160px;
  border:1px solid #f3f4f6;
  float: left;
}
.logocus img {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
}
.logocustomer {
  margin: 50px 0;
  display: inline-block;
}
.footer{
  clear: left;
  min-height: 355px;
  padding: 85px 30px 15px 10px;
  background: #2794eb;
  position: relative;
}
.logofo  p{
  color: #fff;
  margin-top: 30px;
  font-size: 14px;
}
.textfo{
  font-size: 18px;
  font-family: 'OpenSansBold';
  color: #fff;
  text-transform: uppercase;
}
.fo{
  margin-bottom:30px;
}
.hr{
  width: 25px;
  height: 1px;
  margin-top: -8px;
  border: 1px solid #fff;
}
.texfor1{
  margin-top: 30px;
  display: inline-block;
}
.textfo1 a{
  font-size: 14px;
  color: #fff;
  display: block;
}
.textfo1 a:hover{
  color:#fdb813;
}
.contact{
  font-size: 15px;
  color: #fff;
  margin-right: -10px;
}
.link{
  line-height: 30px;
}
.textfo2 a{
  margin:0 5px;
}

.mes{
  position: absolute;
  right: 60px;
  bottom: 0;
}
.menu-mb button {
  display: inline-block;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.ic_menu {
  display: none;
  opacity: 0;
}
#menu{
  background: #fff;
}
.menu{
  padding: 15px 0;
}
/*css cuộn menu  fix*/
.sticky {
   position: fixed;
  top: 0; 
  width: 100%;
  padding:0;
  z-index: 200; 
}
/*css file product*/
.contentpro{
  padding: 30px auto;
  margin-top:30px;
  text-align: center;
  position: relative;
}
.contentpro .textcontent {
  color: #328fff;
  font-size: 25px;
  line-height: 45px;
  padding-left: 30px;
  text-align: left;
  border-left: 3px solid #fc5050;
  font-family: 'OpenSansBold';
}
.contentpro .textcontent1 {
  font-size: 18px;
  color: #666666;
  position: absolute;
  left: 34%;
  top:80px;
  text-align: left;
  right: 10%;
}
.proshirt{
  margin-top: 110px;
}
.pag {
  position: relative;
  margin: 10px 0 70px 0;
}

.pagination{
position: absolute;
right: 0;
top:50%;
transform: translateY(-50%);
}
.pagination li{
  margin-right:25px;
 
}

.pagination li a{
  font-size:20px;
  color:#3a4352;
}

.pagination li a:hover{
  border-bottom:1px solid #fc5050;
  color:#fc5050;
}
.hrthanks{
  width: 40px;
  height: 3px;
  margin-left: 0px;
  background: #2794eb;
  margin: 7px 0;
  border: 1px solid #2794eb;
}
.thanks{
  font-size: 25p;
  padding-bottom: 90px;
  font-family: 'OpenSansBold';
}
/*css about*/
.contentabout{
  padding: 30px auto;
  margin-top:30px;
  text-align: center;
}
.contentabout .textcontent{
  color: #328fff;
  font-size: 55px;
  text-align: center;
  font-family: 'OpenSansBold';
}
.contentabout .textcontent1{
  font-size: 20px;
  color: #666666;
  text-align: center;
  padding: 0 100px;
}
.hrabout{
  width: 150px;
  height: 3px;
  margin: 0 auto 25px auto;
  background: #fc5050;
  border: 1px solid #fc5050;
}
.aboutcontent {
  margin: 50px 0;
}
.textabout1{
  font-size:30px;
  font-family: 'OpenSansBold';
  text-align:left;
  margin-left:15px;
}
.textabout2{
  font-size:18px;
  text-align:left;
  margin-left:15px;
}
.hrpolicy{
  width: 70px;
  height: 3px;
  margin:7px 15px;
  background: #fc5050;
  border: 1px solid #fc5050;
}
.policy{
  margin-bottom:70px;
}
.policy1{
  font-size:25px;
  font-family: 'OpenSansBold';
  color:#2794eb;
  margin:15px;
}
/*css productdetails*/
.slider-3{
  transform: rotate(90deg);
  width: 100px; 
  margin-top:100px;
} 
.slider_3{
  transform: rotate(-90deg);
}
.slider-3 .owl-nav{
  display: none;
}
div.slider-3 .owl-nav .owl-prev, div.owl-carousel .owl-nav .owl-next{
    font-size:36px;
    top:unset;
    bottom: 15px; 
}