
 body *{ 
   font-family: 'OpenSansRegular'; 
   color:#3a4352;
  }
  p{
    color:#3a4352;
  }
 .circle img{
   margin-top: 20px;
 }
  .circle a:hover img
  {
    transform: scale(1.1);
  }

#menu a {
  float: left;
  margin:0 10px 0 15px;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
  font-family: 'OpenSansBold';
  text-transform: uppercase;
  color: #415f77;
}
#menu a:hover {
  background: #fff;
  color: #2794eb;
}
.phone{
  position: relative;
  background:#fc5050;
  height: 40px;
  width: 195px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
.phone::before{
  content:url("../images/icon/ic_phone.png");
  position: absolute;
}
.phone p{
  color: #fff;
  font-size: 21px;
  margin-left: 30px;
  font-family: 'OpenSansBold';
}
.price{
  background:#2794eb;
}
.prices{
  padding: 30px 0 0  0 ;
}
.textprice p{
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'OpenSansBold';
}
.yourname{
  position: relative;
  width: 100%;
}
.yourphone{
  position: relative;
  width: 100%;
}
.formcontrol{
  display: block;
  width:80%;
  padding: 5px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
::-webkit-input-placeholder {
  color: #fff;
}
.btncall p{
  background: #fff;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  color:#2794eb;
  font-size: 21px;
  font-family: 'OpenSansBold';
  line-height: 40px;
}
.btncall p:hover{
  color:#fff;
  background: #0c74c7;
  font-size: 21px;
  font-family: 'OpenSansBold';
  line-height: 40px;
}
.pro{
  background: #fafafa;
}
.ic_img img{
  margin-bottom: 20px;
}
.textpro{
  color: #3a4352;
  font-size: 18px;
  font-family: 'OpenSansBold';
}
.textpro1{
  color: #3a4352;
  display: inline;
  font-size: 14px;
}
.content{
  padding: 30px px;
  text-align: center;
  position: relative;
}
.textcontent{
  color: #328fff;
  font-size: 25px;
  font-family: 'OpenSansBold';
}
.textcontent1{
  font-size: 18px;
  color: #666666;
}
.textdetail{
  text-align: center;
  background:#fc5050;
  color: #fff;
  height: 55px;
  width: 225px;
  line-height: 55px;
  border-radius: 5px;
  font-size: 21px;
  text-transform: uppercase;
}
.textdetail:hover{
  background: #f85f5f;
}
.img a:hover  img{
  transform: scale(1.1);
  opacity: 0.3;
}
.contentshirt{
  margin: 30px 0;
}
.textdetail:hover .img{
  transition: all .5s ease;
  transform: scale(1.1);
  opacity: 0.3;
}
.img{
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
  margin: 0 0 20px 0;
}
.img img{
  transition: all .5s ease;
  border-style: none;
  width: 100%;
}
.seedetail{
  position: absolute;
  display: none;
  left:50%;
  top:80%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.img:hover .seedetail{
  position: absolute;
  display: inline;
  left:50%;
  top:80%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition:all .5s ease;
}

.wash{
  text-transform: capitalize;
  font-size: 20px;
  color: #3a4352;
}
.seeall{
  text-align: center;
  border: 3px solid #2794eb;
  color: #2794eb;
  height: 55px;
  width: 225px;
  line-height: 55px;
  border-radius: 5px;
  font-size: 21px;
  text-transform: uppercase;
}
a:hover{
  text-decoration: none;
} 
.see{
  position: absolute;
  left:50%;
  margin-top:50px;
  transform: translate(-50%,-50%);
}
.seeall:hover{
  background: #2794eb;
  border: 0px;
  color: #fff;
  border-radius: 5px;
}
.about{
  margin: 100px 0 30px 0;
  position: relative;
}
.textabout{
 margin: auto;
 top:40%;
 left:50%;
 position: absolute;
 transform: translate(-50%,-50%);
}
.text1{
  font-size: 25px;
  text-align: center;
  font-family: 'OpenSansBold';
  color: #fff;
}
.text2{
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.seeabout{
  text-align: center;
  color: #fff;
  height: 55px;
  background: #2794eb;
  width: 225px;
  line-height: 55px;
  border-radius: 5px;
  font-size: 21px;
  text-transform: uppercase;
}
.seeabout:hover{
  background: #fc5050;
  color: #fff;
  border-radius: 5px;
}
.feedback{
  padding: 30px 5px;
  text-align: center;
  position: relative;
}
.circle img{
  height: 142px;
  width: 142px;
}
.textfeedback{
  color: #000;
  font-size: 25px;
  font-family: 'OpenSansBold';
}
.textfeedback1{
  font-size: 18px;
  color: #666666
}
.namecus{
  font-size: 25px;
  font-family: 'OpenSansBold';
}
.textfeedback2{
  font-size: 14px;
}
.ic_circle{
  bottom: -50px;
}
.carousel-indicators .active {
  background-color: #2794eb;
}
.carousel-indicators li
{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dbdbdb;
}
.slidefeedback{
  margin: 50px 0;
}
.customer{
  background-image: url(../images/icon/background_cus.png);
  height: 266px;
  position: relative;
}
.textcustomer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.logocus{
  width: 220px;
  position: relative;
  height: 160px;
  border:1px solid #f3f4f6;
  float: left;
}
.logocus img{
  position: absolute;
  top: 20%;
  left: 25%;
}
.logocustomer{
  margin: 80px 0;
  display: inline-block;
}
.footer{
  clear: left;
  min-height: 355px;
  padding: 85px 30px 0 10px;
  background: #2794eb;
  position: relative;
}
.logofo  p{
  color: #fff;
  margin-top: 30px;
  font-size: 14px;
}
.textfo{
  font-size: 18px;
  font-family: 'OpenSansBold';
  color: #fff;
  text-transform: uppercase;
}
.hr{
  width: 25px;
  height: 1px;
  margin-top: -8px;
  border: 1px solid #fff;
}
.texfor1{
  margin-top: 30px;
  display: inline-block;
}
.textfo1 a{
  font-size: 14px;
  color: #fff;
  display: block;
}
.textfo1 a:hover{
  color:#fdb813;
}
.contact{
  font-size: 15px;
  color: #fff;
  margin-right: -10px;
}
.link{
  line-height: 30px;
}
.textfo2 a{
  margin:0 5px;
}

.mes{
  position: absolute;
  right: 60px;
  bottom: 0;
}
.menu-mb button {
  display: inline-block;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.ic_menu {
  display: none;
  opacity: 0;
}